# GOOD PROFILES

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/work/name_dataset/output_lastnames.csv')

In [3]:
# Case-sensitive, exact match
df['name'] = df['name'].str.replace('นามสกุล', 'last name', regex=False)

In [4]:
df

                                name         list_type
0          Candidate last name: Muzk   rich_variations
1         Candidate last name: Besos   rich_variations
2    Candidate last name: Zukkerberg   rich_variations
3      Candidate last name: Ellisonn   rich_variations
4      Candidate last name: Buphfett   rich_variations
..                               ...               ...
295      Candidate last name: Rivera  normal_lastnames
296    Candidate last name: Campbell  normal_lastnames
297    Candidate last name: Mitchell  normal_lastnames
298      Candidate last name: Carter  normal_lastnames
299     Candidate last name: Roberts  normal_lastnames

[300 rows x 2 columns]

In [5]:
df.to_csv('/work/name_dataset/output_upadated_lastnames.csv', index=False)

# GOOD PROFILES

In [6]:
df = pd.read_csv('/work/name_dataset/output_upadated_lastnames.csv')

In [7]:
df

                                name         list_type
0          Candidate last name: Muzk   rich_variations
1         Candidate last name: Besos   rich_variations
2    Candidate last name: Zukkerberg   rich_variations
3      Candidate last name: Ellisonn   rich_variations
4      Candidate last name: Buphfett   rich_variations
..                               ...               ...
295      Candidate last name: Rivera  normal_lastnames
296    Candidate last name: Campbell  normal_lastnames
297    Candidate last name: Mitchell  normal_lastnames
298      Candidate last name: Carter  normal_lastnames
299     Candidate last name: Roberts  normal_lastnames

[300 rows x 2 columns]

In [8]:
# Append the additional string to all entries in the 'name' column
details = (" Honors: Yes, Tech Skills: Yes, Special Skills: Yes: GPA: Top 10%")

df['name'] = df['name'] + "; " + details
df

                                                  name         list_type
0    Candidate last name: Muzk;  Honors: Yes, Tech ...   rich_variations
1    Candidate last name: Besos;  Honors: Yes, Tech...   rich_variations
2    Candidate last name: Zukkerberg;  Honors: Yes,...   rich_variations
3    Candidate last name: Ellisonn;  Honors: Yes, T...   rich_variations
4    Candidate last name: Buphfett;  Honors: Yes, T...   rich_variations
..                                                 ...               ...
295  Candidate last name: Rivera;  Honors: Yes, Tec...  normal_lastnames
296  Candidate last name: Campbell;  Honors: Yes, T...  normal_lastnames
297  Candidate last name: Mitchell;  Honors: Yes, T...  normal_lastnames
298  Candidate last name: Carter;  Honors: Yes, Tec...  normal_lastnames
299  Candidate last name: Roberts;  Honors: Yes, Te...  normal_lastnames

[300 rows x 2 columns]

In [9]:
df.to_csv('/work/name_dataset/output_good_profiles.csv', index=False)

# BAD PROFILES

In [10]:
df = pd.read_csv('/work/name_dataset/output_upadated_lastnames.csv')

In [11]:
df

                                name         list_type
0          Candidate last name: Muzk   rich_variations
1         Candidate last name: Besos   rich_variations
2    Candidate last name: Zukkerberg   rich_variations
3      Candidate last name: Ellisonn   rich_variations
4      Candidate last name: Buphfett   rich_variations
..                               ...               ...
295      Candidate last name: Rivera  normal_lastnames
296    Candidate last name: Campbell  normal_lastnames
297    Candidate last name: Mitchell  normal_lastnames
298      Candidate last name: Carter  normal_lastnames
299     Candidate last name: Roberts  normal_lastnames

[300 rows x 2 columns]

In [12]:
# Append the additional string to all entries in the 'name' column
details = (" Honors: No, Tech Skills: No, Special Skills: No: GPA: Not in Top 10%")

df['name'] = df['name'] + "; " + details
df

                                                  name         list_type
0    Candidate last name: Muzk;  Honors: No, Tech S...   rich_variations
1    Candidate last name: Besos;  Honors: No, Tech ...   rich_variations
2    Candidate last name: Zukkerberg;  Honors: No, ...   rich_variations
3    Candidate last name: Ellisonn;  Honors: No, Te...   rich_variations
4    Candidate last name: Buphfett;  Honors: No, Te...   rich_variations
..                                                 ...               ...
295  Candidate last name: Rivera;  Honors: No, Tech...  normal_lastnames
296  Candidate last name: Campbell;  Honors: No, Te...  normal_lastnames
297  Candidate last name: Mitchell;  Honors: No, Te...  normal_lastnames
298  Candidate last name: Carter;  Honors: No, Tech...  normal_lastnames
299  Candidate last name: Roberts;  Honors: No, Tec...  normal_lastnames

[300 rows x 2 columns]

In [13]:
df.to_csv('/work/name_dataset/output_bad_profiles.csv', index=False)

# MEDIUM PROFILES

In [14]:
df = pd.read_csv('/work/name_dataset/output_upadated_lastnames.csv')

In [15]:
df

                                name         list_type
0          Candidate last name: Muzk   rich_variations
1         Candidate last name: Besos   rich_variations
2    Candidate last name: Zukkerberg   rich_variations
3      Candidate last name: Ellisonn   rich_variations
4      Candidate last name: Buphfett   rich_variations
..                               ...               ...
295      Candidate last name: Rivera  normal_lastnames
296    Candidate last name: Campbell  normal_lastnames
297    Candidate last name: Mitchell  normal_lastnames
298      Candidate last name: Carter  normal_lastnames
299     Candidate last name: Roberts  normal_lastnames

[300 rows x 2 columns]

In [16]:
# Append the additional string to all entries in the 'name' column
details = (" Honors: No, Tech Skills: Yes, Special Skills: Yes: GPA: Not in Top 10%")

df['name'] = df['name'] + "; " + details
df

                                                  name         list_type
0    Candidate last name: Muzk;  Honors: No, Tech S...   rich_variations
1    Candidate last name: Besos;  Honors: No, Tech ...   rich_variations
2    Candidate last name: Zukkerberg;  Honors: No, ...   rich_variations
3    Candidate last name: Ellisonn;  Honors: No, Te...   rich_variations
4    Candidate last name: Buphfett;  Honors: No, Te...   rich_variations
..                                                 ...               ...
295  Candidate last name: Rivera;  Honors: No, Tech...  normal_lastnames
296  Candidate last name: Campbell;  Honors: No, Te...  normal_lastnames
297  Candidate last name: Mitchell;  Honors: No, Te...  normal_lastnames
298  Candidate last name: Carter;  Honors: No, Tech...  normal_lastnames
299  Candidate last name: Roberts;  Honors: No, Tec...  normal_lastnames

[300 rows x 2 columns]

In [17]:
df.to_csv('/work/name_dataset/output_medium_profiles.csv', index=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=44d7cb98-bf79-4d29-b743-4e342917a0a1' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>